
*.nc
*.dat
Figures/LR/Average_LR_CMIP5_GMTSL.pdf
Figures/LR/Average_LR_CMIP5_AMOC35.pdf
Figures/LR/Average_LR_CMIP5_GMTSL_AMOC35.pdf
Figures/LR/Average_LR_CMIP5_GSAT.pdf
Figures/LR/Average_LR_CMIP5_GSAT_AMOC35.pdf
Figures/LR/Average_LR_CMIP5_GSAT_GMTSL.pdf
Figures/LR/Average_LR_CMIP6_AMOC35.pdf
Figures/LR/Average_LR_CMIP6_GMTSL_AMOC35.pdf
Figures/LR/Average_LR_CMIP6_GMTSL.pdf
Figures/LR/Average_LR_CMIP6_GSAT.pdf
Figures/LR/Average_LR_CMIP6_GSAT_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP5_GSAT.pdf
Figures/LR/Individual_Models_LR_CMIP5_GSAT_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP5_GSAT_GMTSL.pdf
Figures/LR/Individual_Models_LR_CMIP6_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP6_GMTSL.pdf
Figures/LR/Individual_Models_LR_CMIP6_GMTSL_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP6_GSAT.pdf
Figures/LR/Individual_Models_LR_CMIP6_GSAT_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP6_GSAT_GMTSL.pdf
Figures/LR/Params_LR_COMPARE_AMOC35.pdf
Figures/LR/Params_LR_COMPARE_GMTSL.pdf
Figures/LR/Params_LR_COMPARE_GMTSL_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP5_GMTSL_AMOC35.pdf
Figures/LR/Individual_Models_LR_CMIP5_GMTSL.pdf
Figures/LR/Individual_Models_LR_CMIP5_AMOC35.pdf
Figures/LR/Average_LR_CMIP6_GSAT_GMTSL.pdf
Figures/LR/Params_LR_COMPARE_GSAT.pdf
Figures/LR/Params_LR_COMPARE_GSAT_AMOC35.pdf
Figures/LR/Params_LR_COMPARE_GSAT_GMTSL.pdf
